In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.get_params

from sklearn.model_selection import train_test_split
### Make our data all numerical

car_sales = pd.read_csv('car-sales-extended.csv')

In [34]:
car_sales.head(200)

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
195  Toyota  Green         172401      4   5454
196   Honda   Blue          78153      4  10316
197  Toyota  Green         146940      4  25133
198  Nissan  White         193874      4  10596
199   Honda   Blue         184320      4   6978

[200 rows x 5 columns]

In [3]:
len(car_sales)

1000

In [4]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [5]:
X  = car_sales.drop('Price', axis=1)
y =  car_sales['Price']

In [6]:
# Split into training and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [7]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

ValueError: could not convert string to float: 'Honda'

In [9]:
# Turn the catgories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot', one_hot, categorical_features)],remainder= 'passthrough')
transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [10]:
pd.DataFrame(transformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [11]:
X.head(15)

      Make Colour  Odometer (KM)  Doors
0    Honda  White          35431      4
1      BMW   Blue         192714      5
2    Honda  White          84714      4
3   Toyota  White         154365      4
4   Nissan   Blue         181577      3
5    Honda    Red          42652      4
6   Toyota   Blue         163453      4
7    Honda  White          43120      4
8   Nissan  White         130538      4
9    Honda   Blue          51029      4
10  Nissan  White         167421      4
11  Nissan  Green          17119      4
12  Nissan  White         102303      4
13  Nissan  White         134181      4
14   Honda   Blue         199833      4

In [12]:
dummies = pd.get_dummies(car_sales[['Make',  'Colour', 'Doors']])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [13]:
# Let's refit the model
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size = 0.2)

model.fit(X_train, y_train)

RandomForestRegressor()

In [14]:
model.score(X_test, y_test)

0.3235867221569877

### Dealing with missing values?

 1. Fill them with some values (also known as imputation).
 2. Remove the samples with missing data altogether.

In [35]:
car_sales_missing.head(50)

       Make   Colour  Odometer (KM)  Doors    Price
0     Honda    White   35431.000000    4.0  15323.0
1       BMW     Blue  192714.000000    5.0  19943.0
2     Honda    White   84714.000000    4.0  28343.0
3    Toyota    White  154365.000000    4.0  13434.0
4    Nissan     Blue  181577.000000    3.0  14043.0
5     Honda      Red   42652.000000    4.0  23883.0
6    Toyota     Blue  163453.000000    4.0   8473.0
7     Honda    White  131253.237895    4.0  20306.0
8   missing    White  130538.000000    4.0   9374.0
9     Honda     Blue   51029.000000    4.0  26683.0
10   Nissan    White  167421.000000    4.0  16259.0
11   Nissan    Green   17119.000000    4.0   6160.0
12   Nissan    White  102303.000000    4.0  16909.0
13  missing    White  134181.000000    4.0  11121.0
14    Honda     Blue  199833.000000    4.0  18946.0
15   Toyota     Blue  205592.000000    4.0  16290.0
16   Toyota      Red   96742.000000    4.0  34465.0
17      BMW    White  194189.000000    5.0  17177.0
18   Nissan    White   67991.000000    3.0   9109.0
19   Nissan     Blue  215820.000000    4.0   6010.0
20   Toyota  missing  124844.000000    4.0  24130.0
21    Honda  missing   30615.000000    4.0  29653.0
22   Toyota    White  148744.000000    4.0  22489.0
23    Honda    Green  130075.000000    4.0  21242.0
24    Honda     Blue  172718.000000    4.0  14274.0
25    Honda     Blue  125819.000000    4.0  15686.0
26    Honda    White  180390.000000    4.0  13344.0
27    Honda    Green   82783.000000    4.0  10984.0
28    Honda    White   56687.000000    4.0   6135.0
29   Toyota    White  112004.000000    4.0  13586.0
30   Nissan     Blue   34024.000000    4.0  23929.0
31   Toyota    White  108569.000000    4.0   6866.0
32   Nissan    White  203795.000000    4.0   9330.0
33   Nissan    Green  153554.000000    3.0   9780.0
34    Honda     Blue   71949.000000    4.0  17516.0
35    Honda     Blue  191622.000000    4.0   8738.0
36   Nissan     Blue   38186.000000    4.0  23438.0
37   Nissan    White  131253.237895    4.0  15131.0
38   Nissan     Blue  146430.000000    3.0   9224.0
39   Toyota    Green  109868.000000    4.0   6574.0
40  missing    White  177894.000000    4.0   9229.0
41   Toyota     Blue  189209.000000    4.0   7100.0
42    Honda    Black  200490.000000    4.0   6337.0
43   Toyota     Blue  141617.000000    4.0  19085.0
44   Toyota     Blue  213893.000000    4.0   5743.0
45   Nissan     Blue  231057.000000    4.0   5925.0
46   Toyota    White  100938.000000    4.0  25196.0
47   Toyota     Blue  243969.000000    4.0  16138.0
48   Nissan    White  107096.000000    3.0   6075.0
49   Toyota    Black   86333.000000    4.0   9928.0

In [43]:
car_sales_missing = pd.read_csv('car-sales-extended-missing-data.csv')

In [42]:
car_sales_missing.head(11)

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White   35431.000000    4.0  15323.0
1       BMW   Blue  192714.000000    5.0  19943.0
2     Honda  White   84714.000000    4.0  28343.0
3    Toyota  White  154365.000000    4.0  13434.0
4    Nissan   Blue  181577.000000    3.0  14043.0
5     Honda    Red   42652.000000    4.0  23883.0
6    Toyota   Blue  163453.000000    4.0   8473.0
7     Honda  White  131253.237895    4.0  20306.0
8   missing  White  130538.000000    4.0   9374.0
9     Honda   Blue   51029.000000    4.0  26683.0
10   Nissan  White  167421.000000    4.0  16259.0

In [40]:
car_sales_missing.isna().tail(50)

      Make  Colour  Odometer (KM)  Doors  Price
946  False   False          False  False  False
948  False   False          False  False  False
949  False   False          False  False  False
950  False   False          False  False  False
951  False   False          False  False  False
953  False   False          False  False  False
954  False   False          False  False  False
955  False   False          False  False  False
956  False   False          False  False  False
957  False   False          False  False  False
958  False   False          False  False  False
960  False   False          False  False  False
961  False   False          False  False  False
962  False   False          False  False  False
963  False   False          False  False  False
964  False   False          False  False  False
965  False   False          False  False  False
966  False   False          False  False  False
967  False   False          False  False  False
969  False   False          False  False  False
970  False   False          False  False  False
971  False   False          False  False  False
972  False   False          False  False  False
973  False   False          False  False  False
974  False   False          False  False  False
975  False   False          False  False  False
976  False   False          False  False  False
977  False   False          False  False  False
978  False   False          False  False  False
979  False   False          False  False  False
980  False   False          False  False  False
981  False   False          False  False  False
982  False   False          False  False  False
983  False   False          False  False  False
984  False   False          False  False  False
985  False   False          False  False  False
986  False   False          False  False  False
987  False   False          False  False  False
988  False   False          False  False  False
989  False   False          False  False  False
990  False   False          False  False  False
991  False   False          False  False  False
992  False   False          False  False  False
993  False   False          False  False  False
994  False   False          False  False  False
995  False   False          False  False  False
996  False   False          False  False  False
997  False   False          False  False  False
998  False   False          False  False  False
999  False   False          False  False  False

In [18]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [19]:
# Create X and y
X = car_sales_missing.drop('Price', axis  =1)
y = car_sales_missing['Price']

#### Fill missing data with Pandas

In [20]:
# Fill the 'make' column
car_sales_missing['Make'].fillna('missing', inplace= True) 
# Fill the 'colour' column
car_sales_missing['Colour'].fillna('missing', inplace = True)
# Fill the 'Odometer' column
car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean(), inplace = True)
# Fill the 'Doors' columns
car_sales_missing['Doors'].fillna(4, inplace = True)

In [21]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [22]:
# Remove rows with missing value
car_sales_missing.dropna(inplace =True)

In [23]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [25]:
car_sales_missing.isna().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
995    0
996    0
997    0
998    0
999    0
Length: 950, dtype: int64

In [27]:
car_sales_missing.isna().sum(axis=0)

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [28]:
car_sales_missing.isnull().sum(axis=0)

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [29]:
car_sales_missing.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
995    0
996    0
997    0
998    0
999    0
Length: 950, dtype: int64

In [32]:
car_sales_missing.head(50)

       Make   Colour  Odometer (KM)  Doors    Price
0     Honda    White   35431.000000    4.0  15323.0
1       BMW     Blue  192714.000000    5.0  19943.0
2     Honda    White   84714.000000    4.0  28343.0
3    Toyota    White  154365.000000    4.0  13434.0
4    Nissan     Blue  181577.000000    3.0  14043.0
5     Honda      Red   42652.000000    4.0  23883.0
6    Toyota     Blue  163453.000000    4.0   8473.0
7     Honda    White  131253.237895    4.0  20306.0
8   missing    White  130538.000000    4.0   9374.0
9     Honda     Blue   51029.000000    4.0  26683.0
10   Nissan    White  167421.000000    4.0  16259.0
11   Nissan    Green   17119.000000    4.0   6160.0
12   Nissan    White  102303.000000    4.0  16909.0
13  missing    White  134181.000000    4.0  11121.0
14    Honda     Blue  199833.000000    4.0  18946.0
15   Toyota     Blue  205592.000000    4.0  16290.0
16   Toyota      Red   96742.000000    4.0  34465.0
17      BMW    White  194189.000000    5.0  17177.0
18   Nissan    White   67991.000000    3.0   9109.0
19   Nissan     Blue  215820.000000    4.0   6010.0
20   Toyota  missing  124844.000000    4.0  24130.0
21    Honda  missing   30615.000000    4.0  29653.0
22   Toyota    White  148744.000000    4.0  22489.0
23    Honda    Green  130075.000000    4.0  21242.0
24    Honda     Blue  172718.000000    4.0  14274.0
25    Honda     Blue  125819.000000    4.0  15686.0
26    Honda    White  180390.000000    4.0  13344.0
27    Honda    Green   82783.000000    4.0  10984.0
28    Honda    White   56687.000000    4.0   6135.0
29   Toyota    White  112004.000000    4.0  13586.0
30   Nissan     Blue   34024.000000    4.0  23929.0
31   Toyota    White  108569.000000    4.0   6866.0
32   Nissan    White  203795.000000    4.0   9330.0
33   Nissan    Green  153554.000000    3.0   9780.0
34    Honda     Blue   71949.000000    4.0  17516.0
35    Honda     Blue  191622.000000    4.0   8738.0
36   Nissan     Blue   38186.000000    4.0  23438.0
37   Nissan    White  131253.237895    4.0  15131.0
38   Nissan     Blue  146430.000000    3.0   9224.0
39   Toyota    Green  109868.000000    4.0   6574.0
40  missing    White  177894.000000    4.0   9229.0
41   Toyota     Blue  189209.000000    4.0   7100.0
42    Honda    Black  200490.000000    4.0   6337.0
43   Toyota     Blue  141617.000000    4.0  19085.0
44   Toyota     Blue  213893.000000    4.0   5743.0
45   Nissan     Blue  231057.000000    4.0   5925.0
46   Toyota    White  100938.000000    4.0  25196.0
47   Toyota     Blue  243969.000000    4.0  16138.0
48   Nissan    White  107096.000000    3.0   6075.0
49   Toyota    Black   86333.000000    4.0   9928.0

In [33]:
car_sales_missing.tail(50)

        Make   Colour  Odometer (KM)  Doors    Price
946   Toyota    Green  132714.000000    4.0  17076.0
948   Toyota    Black   43171.000000    4.0  24354.0
949   Nissan     Blue   57558.000000    3.0  16622.0
950    Honda    White   52414.000000    4.0  11548.0
951    Honda    White  186495.000000    4.0  14849.0
953      BMW    White  102773.000000    5.0  29551.0
954   Toyota     Blue   92777.000000    4.0  32509.0
955   Toyota  missing  103682.000000    4.0  10261.0
956   Toyota    Black   90508.000000    4.0  33758.0
957   Nissan  missing   39639.000000    3.0  12315.0
958    Honda     Blue   26824.000000    4.0  28422.0
960    Honda    White  131253.237895    4.0  13070.0
961   Toyota    White  239760.000000    4.0   4896.0
962    Honda     Blue   96308.000000    4.0  15010.0
963   Toyota    White  107043.000000    4.0   7126.0
964   Toyota     Blue   39753.000000    4.0  34231.0
965    Honda     Blue  168261.000000    4.0  14691.0
966    Honda    Black   94941.000000    4.0  27598.0
967      BMW    Green   26839.000000    5.0  15224.0
969      BMW     Blue   45207.000000    5.0  35254.0
970   Toyota     Blue  186309.000000    4.0  16416.0
971      BMW    Black  178164.000000    3.0  24891.0
972    Honda    White  131253.237895    4.0  17939.0
973    Honda    Green  237627.000000    4.0   8430.0
974  missing    White  155383.000000    4.0  14345.0
975    Honda  missing   22409.000000    4.0  10429.0
976   Toyota     Blue   95317.000000    4.0   7435.0
977   Toyota     Blue  128016.000000    4.0  16835.0
978      BMW    White   85739.000000    5.0  48419.0
979   Toyota    Black   17975.000000    4.0  17940.0
980   Toyota     Blue  230314.000000    4.0   6720.0
981   Toyota    White  129454.000000    4.0   6446.0
982    Honda    White  238172.000000    4.0  13273.0
983   Toyota      Red  131253.237895    4.0  14671.0
984   Nissan     Blue  157235.000000    4.0   4196.0
985  missing     Blue  216250.000000    4.0   9691.0
986    Honda    White   71934.000000    4.0  26882.0
987    Honda    White  215235.000000    4.0   3825.0
988   Nissan    Black  248736.000000    4.0   8358.0
989   Toyota      Red   41735.000000    4.0  13928.0
990   Toyota    White  173408.000000    4.0   8082.0
991    Honda     Blue  235985.000000    4.0   9184.0
992    Honda    Green   54721.000000    4.0  27419.0
993   Nissan    Black  162523.000000    4.0   4696.0
994      BMW     Blue  163322.000000    3.0  31666.0
995   Toyota    Black   35820.000000    4.0  32042.0
996  missing    White  155144.000000    3.0   5716.0
997   Nissan     Blue   66604.000000    4.0  31570.0
998    Honda    White  215883.000000    4.0   4001.0
999   Toyota     Blue  248360.000000    4.0  12732.0

In [30]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot', one_hot, categorical_features)],remainder='passthrough')
transformed_X = transformer.fit_transform(X)
transformed_X

ValueError: Input contains NaN